<div class="table-responsive">
  <table class="table table-striped text-center">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Weight</th>
      <th scope="col">Category</th>
      <th scope="col">Quantity</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let product of getCartContent() | async">
      <td>{{product.name}}</td>
      <td>{{product.description}}</td>
      <td>{{product.price}}</td>
      <td>{{product.weight}}</td>
      <td>{{product.category.name}}</td>
      <td>
        <i class="bi bi-dash" style="font-size: 22px; color: red;"></i>
        {{product.quantity}}
        <i class="bi bi-plus" style="font-size: 22px; color: green;"></i>
      </td>
    </tr>
    </tbody>

  </table>
</div>
