<div *ngIf="(getCartContent() | async)!.length > 0; else emptyCart">
  <div class="table-responsive">
    <table class="table table-striped text-center">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Weight</th>
        <th scope="col">Category</th>
        <th scope="col">Quantity</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let product of getCartContent() | async">
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>{{product.weight}}</td>
        <td>{{product.category.name}}</td>
        <td>
          <i class="bi bi-dash hover-icon" style="font-size: 22px; color: red;" (click)="decreaseQuantity(product)"></i>
          {{product.quantity}}
          <i class="bi bi-plus hover-icon" style="font-size: 22px; color: green;"
             (click)="increaseQuantity(product)"></i>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="row me-0 justify-content-center">
    <div class="text-center">
      <p style="font-size: 20px">Total price: {{getTotalPrice()}} PLN</p>
    </div>
    <button class="btn btn-success w-50">Place order</button>
  </div>
</div>

<ng-template #emptyCart>
  <div>
    <div class="text-center mt-5" style="font-size: 40px">Your cart is empty</div>
    <div class="text-center mt-5" style="font-size: 30px;"><a style="text-decoration: none" routerLink="">Browse
      products</a>
    </div>
  </div>
</ng-template>

