<div class="table-responsive">
  <table class="table table-striped text-center">
    <thead class="thead-dark">
    <tr>
      <th id='nameHead' scope="col" (click)="sort('name', nameOrder); activate('nameHead');">Name</th>
      <th scope="col">Description</th>
      <th id='priceHead' scope="col" (click)="sort('price', priceOrder); activate('priceHead');">Price</th>
      <th id='weightHead' scope="col" (click)="sort('weight', weightOrder); activate('weightHead');">Weight</th>
      <th scope="col">Add to cart</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let product of getProducts()">
      <td>{{product.name}}</td>
      <td>{{product.description}}</td>
      <td>{{product.price}}</td>
      <td>{{product.weight}}</td>
      <td>
        <button class="btn btn-primary" (click)="addToCart(product)">Add to cart</button>
        <p *ngIf="getProductQuantityInCart(product.id) > 0">In cart: {{getProductQuantityInCart(product.id)}}</p>
      </td>
    </tr>
    </tbody>

  </table>
</div>
<!--<ul class="container align-items-center" *ngFor="let product of this.getProducts()">-->
<!--  <li class="row w-100 mx-auto bg-light">-->
<!--    <div class="col-6">{{product.name}}</div>-->
<!--    <div class="col-6 text-end">{{product.price}} PLN</div>-->
<!--    <div class="col-6">Weight: {{product.weight}}</div>-->
<!--    <div class="col-6">Category: {{product.category.name}}</div>-->
<!--    <div class="col-12">{{product.description}}</div>-->
<!--  </li>-->
<!--</ul>-->
