<div class="table-responsive">
  <table class="table table-striped text-center">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Weight</th>
      <th scope="col">Delete</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let product of products$ | async">
      <td>{{product.name}}</td>
      <td>{{product.description}}</td>
      <td>{{product.price}}</td>
      <td>{{product.weight}}</td>
      <td>
        <button class="btn btn-primary" (click)="addToCart(product)">Add to cart</button>
      </td>
    </tr>
    </tbody>

  </table>
</div>
<!--<ul class="container align-items-center" *ngFor="let product of this.getProducts()">-->
<!--  <li class="row w-100 mx-auto bg-light">-->
<!--    <div class="col-6">{{product.name}}</div>-->
<!--    <div class="col-6 text-end">{{product.price}} PLN</div>-->
<!--    <div class="col-6">Weight: {{product.weight}}</div>-->
<!--    <div class="col-6">Category: {{product.category.name}}</div>-->
<!--    <div class="col-12">{{product.description}}</div>-->
<!--  </li>-->
<!--</ul>-->
