<table class="table table-responsive table-striped text-center"
       >
  <thead class="thead-dark">
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Description</th>
    <th scope="col">Price</th>
    <th scope="col">Weight</th>
    <th scope="col">Category</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let product of this.getProducts()">
    <td>{{product.name}}</td>
    <td>{{product.description}}</td>
    <td>{{product.price}}</td>
    <td>{{product.weight}}</td>
    <td>{{product.category.name}}</td>
  </tr>
  </tbody>

</table>

