<div class="table-responsive col-lg-8 mx-auto card mt-sm-3">
  <div class="card-header text-center h3">
    <span class="text-decoration-none" routerLink="/orders">Orders </span>
    <span *ngIf="state != ''"> > {{state}}</span>
    <span *ngIf="username != ''"> > {{username}}</span>
    <form (submit)="navigateToOrdersByUsername()" class="mx-sm-auto">
      <input class="form-control w-auto d-inline-block mt-0" [(ngModel)]="usernameFilter" name="usernameFilter" type="text" placeholder="Search by username">
      <button type="submit" class="d-inline-block btn btn-primary ms-2 mt-1" >Search</button>
    </form>
  </div>
  <div *ngIf="orders.length" class="table-responsive">
    <table class="table table-striped table-bordered text-center mb-0">
      <thead class="thead-dark">
      <tr class="align-content-center align-middle text-center">
        <th>Confirmation Date</th>
        <th>State</th>
        <th>Total (PLN)</th>
        <th>Products</th>
        <th>Action</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let order of orders">
        <td>{{(order.confirmationDate | date:'d.MM.yyyy H:mm:s') || "None"}}</td>
        <td>{{order.state.name}}</td>
        <td>{{getTotal(order)}}</td>
        <td>
          <ul style="text-align: left">
            <li *ngFor="let productEntry of order.products">
              <span>{{productEntry.product.name}} - {{productEntry.product.quantity}}</span>
            </li>
          </ul>
        </td>

        <td>
          <button
            [ngClass]="{disabled: (order.state.name === 'CONFIRMED' || order.state.name === 'CANCELLED' || order.state.name === 'DONE')}"
            class="btn btn-primary col-12 col-md-9 col-xxl-7 mb-2" (click)="confirmOrder(order.id)">Confirm
          </button>
          <button
            [ngClass]="{disabled: (order.state.name === 'CONFIRMED' || order.state.name === 'CANCELLED' || order.state.name === 'DONE')}"
            class="btn btn-danger col-12 col-md-9 col-xxl-7 mb-2" (click)="cancelOrder(order.id)">Cancel
          </button>
          <button
            [ngClass]="{disabled: (order.state.name === 'UNCONFIRMED' || order.state.name === 'CANCELLED' || order.state.name === 'DONE')}"
            class="btn btn-success col-12 col-md-9 col-xxl-7 mb-2" (click)="markOrderAsDone(order.id)">Done
          </button>
      </tr>
      </tbody>
    </table>
  </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Error</h5>
      </div>
      <div id='error-desc' class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
